*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}

body{
	background: linear-gradient(#96f1f0);
}



.button{
	width: 210px;
	display: block;
	background: linear-gradient(50deg,black,#fcfffe,black);
	padding: 10px, 5px;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	color: #0000FF;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;


}

.button:hover{
	transform: translateY(10px);
	box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
	
}

#visit{
	width: 210px;
	display: block;
	background: linear-gradient(50deg,deepskyblue,mediumslateblue);
	padding: 10px, 5px;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;


}

